
.border1{
border-style: dashed;
color:red;
background-color: #ffff00;
width: 200px;
height: 180px;
}
.border2{
width:200px;
height: 180px;
background-color: yellow;
border-left-style:inset;
border-color: green;
border-top: dashed red;
border-bottom: dashed blue;
;
}
.border3{
    width: 0px;
    height: 0px;
    background-color: white;
    margin:50px auto;
    border:50px solid;
    border-bottom: 50px blue solid;
    border-top: red 50px solid;
    border-left:50px green solid;
    border-right: 50px solid yellow;
}
.img{
    align-items: right;

}

table th, td{
    border:solid;
    border-color:red;
}
.div1{
    border: solid black;
    width:250px;
    height: 80px;
    background-color: grey;
}
.table1{
    border:solid black;
    background-color: #ffff00;
    width: 80px;
    height: 80px;

}
p{
    background-color: grey;
    text-decoration: underline blue;
}