.container {
  border: solid grey 1px;
  margin: 10px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-bottom: 8px;
}

.container div {
  background-color: #80ff80;
  border: solid 1px grey;
  margin: 10px;
  width: 80px;
  min-height: 80px;
  text-align: left;
  font-size: 2en;
}

.container1 {
  border: solid 1px grey;
  width: 100px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  gap: 50px;
}

.container1 div {
  border: solid grey 1px;
  background-color: deepskyblue;
  width: 50px;
  height: 50px;
  position: absolute;
}

.container1 .div-1 {
  z-index: 1;
  margin-left: 20px;
  margin-top: 20px;
}

.container1 .div-2 {
  z-index: 2;
  margin-left: 40px;
  margin-top: 40px;
}

.container1 .div-3 {
  z-index: 3;
  margin-top: 60px;
  margin-left: 60px;
}

.container2 {
  border: solid 1px grey;
  width: 100px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  gap: 50px;
}

.container2 div {
  border: solid grey 1px;
  background-color: deepskyblue;
  width: 50px;
  height: 50px;
  position: absolute;
}

.container2 .div1 {
  z-index: 1;
  margin-left: 20px;
  margin-top: 20px;
}

.container2 .div2 {
  z-index: 2;
  margin-left: 40px;
  margin-top: 40px;
}

.container2 .div3 {
  z-index: 3;
  margin-top: 10px;
  margin-left: 2px;
}

.dott {
  margin-top: 30px;
}

.dott .div4 {
  border: dotted #0cdf0c 2px;
}

.dott .div5 {
  border: dotted #0cdf0c 2px;
  text-align: center;
}

.dott .div6 {
  margin: auto;
  border-top: solid blue 40px;
  border-left: solid 20px transparent;
  border-right: solid 20px transparent;
  height: 0;
  width: 80%;
}

.box {
  margin: auto;
  margin-top: 40px;
  width: 500px;
}

.box div {
  padding: 10px;
}

.box .header {
  background-color: #80ff80;
  height: 100px;
  padding-top: 20px;
}

.box .menu {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.box .yellow {
  padding-top: 20px;
  background-color: yellow;
  height: 400px;
  width: 400px;
}

.box .yellow .div-- {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  margin-bottom: 15px;
  margin-top: 15px;
  height: 15px;
  width: 60%;
}

.box .red {
  height: 300px;
  width: 150px;
  background-color: burlywood;
}

.box .red .div--- {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  margin-bottom: 15px;
  margin-top: 15px;
  height: 15px;
  width: 60%;
}

.box1 {
  height: 300px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box1 .orange {
  background-color: pink;
  height: 100px;
}

.box1 .blue {
  background-color: cornflowerblue;
  height: 100px;
}
/*# sourceMappingURL=style.css.map */