
.container {
    border: solid grey 1px;
    margin: 10px;
    width: 200px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    min-height: 100px;
    justify-content: space-between;
    align-content: flex-start;
    margin-bottom: 8px;
    

    div{
     background-color: #80ff80; 
     border: solid 1px grey;
     margin: 10px;
     width: 80px;
     min-height: 80px;
     text-align: left;
     font-size: 2en;
    


    }
}
.container1{
    border: solid 1px grey;
    width: 100px;
    height: 150px;
    display: flex;
    padding: 20px;
    gap: 50px;


    div {
        border: solid grey 1px;
        background-color: deepskyblue;
        width: 50px;
        height: 50px;
        position: absolute;
        
    }
    .div-1{
        z-index: 1;
        margin-left: 20px;
        margin-top: 20px;
    }

    .div-2{
        z-index: 2;
        margin-left: 40px;
        margin-top: 40px;
    }
    .div-3{
        z-index: 3;
        margin-top: 60px;
        margin-left: 60px;
    }

}
.container2{
    border: solid 1px grey;
    width: 100px;
    height: 150px;
    display: flex;
    padding: 20px;
    gap: 50px;

    div {
        border: solid grey 1px;
        background-color: deepskyblue;
        width: 50px;
        height: 50px;
        position: absolute;
        
    }
    .div1{
        z-index: 1;
        margin-left: 20px;
        margin-top: 20px;
    }

    .div2{
        z-index: 2;
        margin-left: 40px;
        margin-top: 40px;
    }
    .div3{
        z-index: 3;
        margin-top: 10px;
        margin-left: 2px;
    }

}

.dott {
    margin-top: 30px;
    .div4{
        border: dotted rgb(12, 223, 12) 2px;
    }
    .div5{
        border: dotted rgb(12, 223, 12) 2px;
        text-align: center;
    }

    .div6{
        margin: auto;
        border-top: solid blue 40px;
        border-left: solid 20px transparent;
        border-right: solid 20px transparent;
        height: 0;
        width: 80%;
    }
}
.box{
    div{
        padding: 10px;
    }
    margin: auto;
    margin-top: 40px;
    width: 500px;
    .header{
        background-color: #80ff80;
        height: 100px;
        padding-top: 20px;
    }
    .menu {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        padding: 0;
    
    }
    
    .yellow{
        padding-top: 20px;
        background-color: yellow;
        height: 400px;
        width: 400px;
    
        .div--{
            display: flex;
            flex-direction: column;
            background-color: white;
            margin-bottom: 15px;
            margin-top: 15px;
            height: 15px;
            width: 60%;
    
        }
    }
    .red{
        height: 300px;
        width: 150px;
        background-color: burlywood;
    
        .div---{
            display: flex;
            flex-direction: column;
            background-color: white;
            margin-bottom: 15px;
            margin-top: 15px;
            height: 15px;
            width: 60%;
    
        }}
    }


.box1{
    height: 300px;
    width: 150px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    .orange{
        background-color: pink;
        height: 100px;
    }
    .blue{
        background-color: cornflowerblue;
        height: 100px;
    }
}
