.table0, th, td{
    border: solid 3 px black;
    width: 100%;
    height: 250px;

}
.table-{
    border: solid 1px black;
    width: 100%;
}
.table--{
    border: solid 1px black;
    width: 20px;
    height: 20px;
}


.table, th, td{
    border:solid 1px black ;
    width: 5%;
    border-collapse: collapse;
    height: 50px;
}
.table1, th, td{
    border:solid 1px black;
    border-width: 5%;
    height: 20px;
}
.menu1{
    border-width: 2cm;
    height: 2cm;
}
.table---{
    border: solid 1px;
    column-width: 10px;
}
.header{
    height: 100px;
}
.header1{
    border:solid 1px;
    height: 150px;
    border-width: 20px;
}