.p1-1{
    font-style: normal;
    font-weight: bold;
}
.p1-2{
    font-style: italic;
}
.p1-3{
    font-style: oblique;
}
.p2-1{
    text-align: center;
    font-size: 200%;
    font-weight: bold;
}
.p2-2{
    text-align: center;
    font-weight: bolt;
    font-size: 100%;
}
.page{
    text-align: right;
    color: red;
    font-size: 200%;
    font-weight: bold;

}
.title{
    font-weight: bold;
    font-size: 200%;
    text-align: center;
}
.student{
    font-weight: bold;
    text-align: right;
}
.border{
    height: 5px;
    width: 500px;
    border:solid;
    background-color: red;
}
.border1{
    height: 5px;
    width: 500px;
    border:solid;
    background-color:indigo;
}
.bord{
    height:2%;
    width: 500px;
    border: solid;
    background-color: black;
}
.txt1{
    font-size: 30px;
    font-weight: bold;
    font-style: normal;

}
.txt2{
    font-size: 20px;
    font-weight: bold;
    text-decoration: line-through;
}
.txt3{
    text-decoration: underline;
}
.text{
    word-spacing: 1cm;
    font-weight: bold;
    font-size: 150%;
}
.text1{
    letter-spacing: 0.15cm;
}
.dotted {border-style: dotted ;
    border-color:aqua;}
.dashed {border-style: dashed ;
    border-color:aqua;}
.solid {border-style: solid;
    border-color:aqua;}
.double {border-style: double;
    border-color:aqua;}
.groove {border-style: groove ;
    border-color:dodgerblue;}
.ridge {border-style: ridge ;
    border-color:dodgerblue;}
.inset {border-style: inset ;
    border-color:dodgerblue;}
.outset {border-style: outset ;
    border-color:dodgerblue;}
.none {border-style: none;}
.hidden {border-style: hidden;}
.mix {border-style: dotted dashed solid double;
    border-color:aqua;}

.bord-rad{
    border:solid;
    height: 150px;
    width: 150px;
    background-color: maroon;
    border-top-left-radius: 20% ;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    text-align: center;
}
.bord-rad1{
    border:solid;
    height: 150px;
    width: 150px;
    border-top-left-radius: 20% ;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    text-align: center;
}
.bord-rad2{
    border:solid;
    height: 150px;
    width: 150px;
    border-top-left-radius: 20% ;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    text-align: center;
    background-image: url(https://d2v9ipibika81v.cloudfront.net/uploads/sites/72/fantastic-seascape-with-ripples-1140x684.jpg);
}
.four-def{
    border:solid;
    height: 150px;
    width: 150px;
    background-color: maroon;
    border-radius: 15px 50px 30px 5px;
}
.three-def{
    border:solid;
    height: 150px;
    width: 150px;
    background-color: maroon;
    border-radius: 15px 50px 30px;
}
.two-def{
    border:solid;
    height: 150px;
    width: 150px;
    background-color: maroon;
    border-radius: 15px 50px ;
}
.ellipse-bord{
    border:solid;
    height: 150px;
    width: 150px;
    background-color: maroon;
    border-radius: 50px/15px; ;
}
.ellipse-angle{
    border:solid;
    height: 150px;
    width: 150px;
    background-color: maroon;
    border-radius: 15px/50px ;
}
.ellipse{
    border:solid;
    height: 150px;
    width: 300px;
    background-color: maroon;
    border-radius:50% ;
}