.p{
    font-style: italic;
    font-size: small;
}
.p1{
    font-style: italic;
    text-decoration: underline;
    font-size: small;
}
.p2{
    font-size: large;
    text-align: center;
    font-weight: bold;
}
.bord{
    border: solid rgb(163, 163, 163);
    height: min-content;
    width: 400 px;
}
.txt{
    text-align: center;
    font-weight: bold;
    font-size: medium;
}
.div{
    display: flex;
    justify-content:space-between
}