.title{
    font-weight: bold;
    font-size: large;
}
.background{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}
.div{
    display:flex;
    justify-content: space-between;
    
}
.border{
    height:0.5%;
    border-right-width: 500px;
    border: solid;
    border-color: gray;
    background-color: grey;
}
.titl{
    text-align: center;
    font-weight: bold;
    font-size: medium;
}
.p{
    word-break: break-all;
    word-spacing: 1cm;
    text-decoration: underline;
    text-underline-position:auto;
}