body {
  background-color: aqua;
}

.container {
  border: solid 1px black;
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 350px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-bottom: 9px;
}

.container div {
  border: solid 3px #2929f0;
  margin: 10px;
  width: 100px;
  background-color: white;
  min-height: 100px;
  text-align: center;
  font-size: 2en;
}
/*# sourceMappingURL=style.css.map */