body{
    background-color: aqua;
}
.container{
    border:solid 1px black;
    width: 70%;
    margin: auto;
    display: flex;
    min-height: 350px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    margin-bottom: 9px;

    div{
        border:solid 3px rgb(41, 41, 240);
        //width: 300px;
        margin:10px;
        width: 100px;
        background-color:white;
        min-height: 100px;
        text-align: center;
        font-size: 2en;
    }
}